<div class="panel panel-primary">
	
	<div class="panel-heading"
		ng-click="collapse()">
		<h2>
		<span 
			state-display="person.level user-ok user-warning user-problem user-error">
			{{person.name}}
			</span>
		</h2>
	</div>
	<div class="panel-body"
		ng-hide="collapsed">
		
		
		<the-address></the-address>
		
	
		<hr />
		<h4>Friends:</h4>
		<ul class="list-item-group">
			<li class="list-item"
				ng-repeat='friend in person.friends'>
				{{friend}}

				<remove-friend method="removeFriend(friend)"></remove-friend>

				
			</li>
		</ul>
		<p class="text-primary"
			ng-show="!!person.rank">
			<b>Rank: </b>{{person.rank}}
		</p>
		<button class="btn btn-default" 
			ng-show="!person.rank"
			ng-click="knightMe(person)">Knight Me</button>
		<button class="btn btn-info"
			ng-click="nextState()">Next State</button>
	</div>

</div>
