<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Directive Exercises</title>

	<script src="../../libs/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../libs/bootstrap.min.css">
	<script src="../../libs/angular.min.js"></script>
	<script src="app.js"></script>
	<style type="text/css">

	</style>
</head>
<body ng-controller="MainController">
	<div class="container">

		<my-question q="Where is the rebel base?">
			<input type="text" ng-model="answers.baseLocation" />
		</my-question>
		<h4 class="text-success">{{answers.baseLocation}}</h4>
		<my-question q="Are you my father?">
			<input type="radio" ng-value="true" ng-model="answers.father"/> Yes
			<input type="radio" ng-value="false" ng-model="answers.father"/> No
		</my-question>
		<h4 class="text-success">{{answers.father}}</h4>

	</div>
</body>
</html>
