<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Directive Exercises</title>
	
    <link rel="stylesheet" type="text/css" href="../../libs/bootstrap.min.css">
	<script src="../../libs/angular.min.js"></script>
	<script src="app.js"></script>
	
</head>
<body ng-controller="MainController">
	<div class="container">
		<h1>Lazy Loader</h1>

		<div my-lazy-render="showit" echo>
			<div ng-repeat="item in items">
				{{item}}
			</div>
		</div>

		<button class="btn btn-primary"
			ng-click="showit = true">Render Content</button>		
	</div>
</body>
</html>